ConsoleApplication2/obj/
ConsoleApplication2/bin/
ConsoleApplication2/publish/

# msbuild.exe generates this
ConsoleApplication2.sln.metaproj.tmp

nmap_query/obj/
nmap_query/bin/
nmap_query/publish/
nmap_query/nmap_query_TemporaryKey.pfx
